<main class="lg:flex lg:min-h-full lg:flex-row-reverse lg:overflow-hidden">

  <section  class="flex-auto overflow-y-auto px-4 pb-16 pt-12 sm:px-6 sm:pt-16 lg:px-8 lg:pb-24 lg:pt-0">
      <div class="mx-auto max-w-lg lg:pt-16">
            <%= yield %>
       <div></div>
  </section>
</main>